<div class="container">
  <div class="textarea-wrapper">
    <div class="line-numbers" #lineNumbersRef [innerHTML]="lineNumbers"></div>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        [(ngModel)]="textValue"
        (input)="updateLineNumbers()"
        (scroll)="syncScroll($event)"
        (keyup)="updateCursorPosition($event)"
        (click)="updateCursorPosition($event)"
        style="height: 300px"
      ></textarea>
      <label for="floatingTextarea2">Code CLC</label>
    </div>
  </div>
  <div class="cursor-position">
    Línea: {{ cursorLine }}, Columna: {{ cursorColumn }}
  </div>
  <div class="file-buttons">
    <input type="file" accept=".cc" (change)="loadFile($event)" id="fileInput" hidden>
    <button type="button" class="btn btn-primary" (click)="triggerFileInput()">Upload File</button>
    <button type="button" class="btn btn-secondary" (click)="saveFile()">Save File</button>
    <button type="button" class="btn btn-success" (click)="generate()">Generate</button>
    <button type="button" class="btn btn-danger" (click)="clearText()">Clean</button>
  </div>
</div>

<!-- TextArea para la consola de salida -->
<div class="console-output-wrapper">
  <textarea
    class="console-output"
    [value]="consoleOutput"
    readonly
    style="height: 200px"
  ></textarea>
</div>

<button class="btn btn-primary mt-2" (click)="showVariablesTable()">Mostrar Variables</button>

<!-- Modal o contenedor para la tabla de variables -->
<div *ngIf="showTable" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tabla de Simbolos</h5>
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tipo</th>
              <th>Modo</th>
              <th>Proceso</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let variable of variables">
              <td>{{ variable.id }}</td>
              <td>{{ variable.tipo }}</td>
              <td>{{ variable.mode }}</td>
              <td>{{ variable.process }}</td>
              <td>{{ variable.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeVariablesTable()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="footer-dark"></div>