<div class="container mt-4">
    <h1 class="text-light title-margin">CAPTCHA GENERATOR CC</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <img src="../../../assets/CaptchaCC.png" class="card-img-top" alt="Captcha CC">
                <div class="card-body">
                    <h5 class="card-title">Captcha CC</h5>
                    <p class="card-text">Somos una empresa dedicada a proteger tus páginas.</p>
                    <a href="../../../assets/CaptchaCC.png" class="btn btn-primary" target="_blank">Ver Imagen</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <img src="../../../assets/Captcha2.jpeg" class="card-img-top" alt="Captcha 2">
                <div class="card-body">
                    <h5 class="card-title">Instalaciones</h5>
                    <p class="card-text">Visita nuestras instalaciones en Github: VicenteM325</p>
                    <a href="../../../assets/Captcha2.jpeg" class="btn btn-primary" target="_blank">Ver Imagen</a>
                </div>
            </div>
        </div>
    </div>
</div>
